.header{
    text-align: center;
    top: 0;
    /* position:sticky ;    */
    padding-bottom: 10px;
    background-image: linear-gradient(to left, #693434ee,#a5a325, #87c71f,#a5a325,#693434ee );
    width: 100%;
    z-index: +99999999999px;
    box-shadow: 2px 5px 6px 3px rgba(0, 0, 0, 0.5);
}

.h1{ 
    
    color: linear-gradient(deg(45), #693434ee,#a5a325 );

    text-decoration:none ;
}