.header{
    text-align: center;
    top: 0;
    position:sticky ;   
    padding-bottom: 10px;
    background-image: linear-gradient(to left, #8d8b29, #f7f200);
    width: 100%;
    z-index: +99999999999px;
    box-shadow: 2px 5px 6px 3px rgba(0, 0, 0, 0.5);
}
