
:root {
    --cor-caixa: #893514;
    --cor-texto: #000000;
}

.dados {
    width: 70%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #d8d657;
    padding: 20px 0;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 20px;
    border: 4px solid var(--cor-caixa);
    text-transform: capitalize;
    color: var(--cor-texto);
    font-size: 1.5em;
    font-family: 'open_sansregular';
    transition: 0.4s;
    text-shadow: 10 0 0.125em rgba(68, 68, 168, 0.5), 0 0 0.25em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--cor-caixa), 0 0 0.5em 0 var(--cor-caixa);
}

.toast-message {
    background: rgb(97, 0, 139);
    color: #b55c5c;
    font-size: 20px;
    width: 25vw;
    padding: 30px 20px;
}

.btn:hover{
    scale: 1.1;
    transition: 1.75 all;
}

